$desktop-l: 1440px; 
$desktop-s: 1024px; 
$tablet: 768px;
$mobile-l: 417px;
$mobile-s: 320px;

:root {
  --primary: #E83D2B;
  --secondary: #290707;
  --input-str-clr: #B99C99;
  --box-bg-clr: #FCF9F9;
  --box-str-clr: #EBD6D4;

  --desktop-margin: 160px;
  --mobile-margin: 40px;
}

html, body {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  margin: 0;
}

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero {
  min-width: 240px;
  height: 500px;
  background: linear-gradient(135deg, #FF7465 0%, var(--primary) 55%, var(--primary) 100%);
  display: grid;
  grid-template-columns: min-content minmax(240px, 400px);
  align-items: center;
  padding: 0 clamp(30px, 6vw, 160px);
  gap: 40px;
  overflow: hidden;
  justify-content: space-between;
  position: relative;
  isolation: isolate;
}

.illustration {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform-origin: bottom;
  overflow: auto;
}

.headline-wrapper {
  color: var(--secondary);
}

.hero-title {
  margin-bottom: 20px;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;
}

.hero-p {
  font-size: .9rem;
  font-weight: 500;
  line-height: 160%;
}

.decoration {
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .3;
  &, & > span {
    position: absolute;

  }

  span:nth-child(1) {
    right: 0;
    top: 0;
    transform: translate(40%, -43%);
  }

  span:nth-child(2) {
    left: 0;
    bottom: 0;
    transform: translate(-45%, 45%);
  }

  span:nth-child(3) {
    left: 0;
    top: 0;
    transform: translate(-10%, -30%);
  }

  span:nth-child(4) {
    left: 50%;
    bottom: 0;
    transform: translateY(-20%);
  }

  .deco-mobile {display: none;}

  span.deco-mobile:nth-child(5) {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%) scale(.5);
  }

  span.deco-mobile:nth-of-type(6) {
    top: 50%;
    right: 0;
    transform: translate(40%, -50%) scale(.9);
  }

  @media screen and (max-width: $tablet) {

    opacity: .2;
    .deco-mobile {display: block;}

    span:nth-child(1) {
      right: 0;
      top: 0;
      transform: translate(45%, -50%) scale(.7);
    }
  
    span:nth-child(2) {
      left: 0;
      bottom: 0;
      transform: translate(-55%, 55%) scale(.9);
    }
  
    span:nth-child(3) {
      left: 0;
      top: 0;
      transform: translate(-20%, -53%) scale(.9) ;
    }
  
    span:nth-child(4) {
      left: auto;
      right: 0;
      bottom: 0;
      transform: translate(20%, 12%) scale(.9);
    }
  }

  @media screen and (max-width: $mobile-s) {
    & > span > img { transform: scale(.8); }
  }

  @media screen and (min-width: $desktop-l) {
    & > span > img { transform: scale(1.2); }
  }

}

@media screen and (max-width: $desktop-l) {
  html, body {
    font-size: 18px;
  }

  .illustration {
    object-fit: contain;
    object-position: bottom;
  }
}

@media screen and (max-width: 1150px) {
  .hero-title {
    white-space: normal;
  }
}

@media screen and (max-width: $desktop-s) {
  html, body { font-size: 16px; }

  .hero-title {
    font-size: 4.5rem;
  }

  .hero {
    grid-template-columns: auto 250px;
  }

  .hero-p {
    font-size: 1rem;
  }
}

@media screen and (max-width: $tablet) {
  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: 250px 1fr;
    padding: 50px clamp(30px, 5vw, 160px);
    height: auto;
    background: var(--primary);
  }

  .hero-title {
    font-size: 3.5rem;
    margin-bottom: 15px;
  }

  .hero-p {
    text-align: justify;
    font-size: 1rem;
  }

  .illustration {
    order: -1;
    object-fit: contain;
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 36%, rgba(0, 0, 0, 0.20) 100%);
    min-width: 180px;
  }
}

@media screen and (max-width: $mobile-l) {
  .hero-title {
    font-size: 2.9rem;
    word-break: break-word;
  }

  html, body {
    font-size: 12px;
  }
}

@media screen and (max-width: $mobile-s) {
  .hero-title {
    font-size: 2.5rem;
  }
}