@import './vars.scss';

.calc-container {
  display: grid;
  margin: 40px clamp(30px, 6vw, 160px);
  width: auto;
  flex-grow: 1;
  grid-template-columns: 3fr 4fr;
  grid-template-rows: auto 3rem;
  gap: 25px;

  & > * { border-radius: 6px; }


  @media screen and (max-width: 1315px) {
    grid-template-columns: 3fr 2fr;
  }

  @media screen and (max-width: $desktop-s) {
    grid-template-columns: 1fr;
  }
}

.calc-box, .values-box {
  background-color: var(--box-bg-clr);
  border: 1px solid var(--box-str-clr);
  border-top-color: var(--primary);
  border-top-width: 2px;
  padding: 40px 80px;
}

.calc-box {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: repeat(2, min-content);
  place-content: center;
  row-gap: 20px;
  column-gap: 60px;

  @media screen and (max-width: $desktop-l) {
    column-gap: 40px;
  }

  @media screen and (max-width: $tablet) {
    row-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    padding: 2rem;
  }
}

.btn {
  grid-column: 1/3;
  background-color: var(--primary);
  color: var(--secondary);
  font-size: 1rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: background-color 80ms ease-in-out;

  @media screen and (max-width: $desktop-s) {
    grid-column: auto;
  }
}

.btn:hover {
  background-color: darken($primary, 10);
}

.input {
  display: flex;
  flex-direction: column;
  color: $secondary;
  width: 10rem;

  &.gender {
    width: auto;
    grid-row: 1/3;
    justify-self: end;
    align-self: center;
  }
  
  &.height {
    justify-self: start;
    align-self: end;
  }

  &.weight {
    place-self: start;
  }

  @media screen and (max-width: $tablet) {
    &.weight,
    &.height,
    &.gender  {
      place-self: start;
    }
  }

  .input-wrapper {
    position: relative;
  }

  input[type="text"] {
    border-radius: 5px;
    border: 1px solid $input-str-clr;
    padding: 10px 15px;
    font-size: .9rem;
    width: 100%;
    padding-right: 60px;


    &::placeholder {
      color: rgba(0, 0, 0, 0.3);
    }
    
    & + .unit {
      display: block;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      font-size: .9rem;
      color: rgba(0, 0, 0, 0.5);
      user-select: none;
    }
  }

  & > label,
  & > .radio-legend {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 8px;
  }

  & > .radio-option {
    font-size: .9rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-bottom: 7px;
  }

  & > .radio-option > label  {
    padding-left: 8px;
    user-select: none;
  }

  @media screen and (max-width: $desktop-l) {
    width: 200px;
  }

  @media screen and (max-width: $tablet) {
    width: 100%;
  }

  @media screen and (max-width: $mobile-l) {

    & > label,
    & > .radio-legend {
      font-size: 1.3rem;
    }

    & > .radio-option,
    & input[type="text"],
    & input[type="text"] + .unit {
      font-size: 1.2rem;
    }
  }

}




input[type="radio"] {
  appearance: none;
  background-color: transparent;
  margin: 0;
  width: 2.2em;
  aspect-ratio: 1;
  background-color: #fff;
  border: 1px solid $input-str-clr;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="radio"]::before {
  content: '';
  display: block;
  transform: scale(0);
  background-color: $secondary;
  width: 40%;
  aspect-ratio: 1;
  border-radius: 3px;
  transition: transform 120ms ease-out;
  transform-origin: center;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:checked {
  border-color: $secondary;
}

input {
  transition: border-color 80ms ease-out;
}

input:hover, input[type="text"]:hover {
  border-color: darken($input-str-clr, 30);
}

input:focus, input[type="text"]:focus {
  border-color: $secondary;
  outline: none;
}

.values-box {
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: $desktop-s) {
    display: none;
  }

  h3 {
    margin-bottom: 1.3rem;
    font-size: 1rem;
    font-weight: 600;
    transform: translateX(-5px);
  }

  .values {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: column;
    column-gap: 80px;
    row-gap: 1em;

    
    @media screen and (max-width: $desktop-l) {
      row-gap: .8em;
      column-gap: 18px;
    }

    @media screen and (max-width: 1315px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(8, 1fr);
    }
  }

  .values > li::marker {
    font-size: 0;
    visibility: hidden;
    color: transparent;
  }

  .values > li {
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: .85rem;
    line-height: 110%;
    white-space: nowrap;

    @media screen and (max-width: $desktop-l) {
      font-size: .8rem;
    }
  }

  .values > li::before {
    content: '';
    width: .7em;
    aspect-ratio: 1;
    background-color: var(--dot-clr);
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.values-box.mobile {
  display: none;
  padding: 40px clamp(30px, 6vw, 160px);;

  .values {
    row-gap: 1em;
    column-gap: 40px;
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: repeat(4, 1fr);
  }

  li {
    font-size: .9rem;
  }

  @media screen and (max-width: $tablet) {
    .mobile-values-wrapper {
      flex-grow: 1;
    }

    .values {
      grid-template-columns: min-content;
      grid-template-rows: repeat(8, 1fr);
    }
  }

  @media screen and (max-width: $mobile-l) {

    h3 {
      font-size: 1.3rem;
    }

    li {
      font-size: 1.1rem;
    }
  }
  

  @media screen and (max-width: $desktop-s) {
    display: flex;
  }
}