$desktop-l: 1440px; 
$desktop-s: 1024px; 
$tablet: 768px;
$mobile-l: 417px;
$mobile-s: 320px;

$primary: #E83D2B;
$secondary: #290707;
$input-str-clr: #B99C99;
$box-bg-clr: #FCF9F9;
$box-str-clr: #EBD6D4;